html,
body,
#root,
.app,
.content {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: screen;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width: 100%;
    height: 94%;
    overflow: scroll;
}

.app {
    display: flex;
    position: relative;
}

.menu-bars {
    text-decoration: none;
    color: black;
}